
html{
    margin: 0px;
    padding: 0px;
     
     
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header{
    height: 10%;
    width: 100%; 
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid red;
    background-color: black;

}
.logo{
    display: flex;
    font-size: 8vh;
    color: white;
}
.header-links{
    display: flex;
    gap: 5vh;
    margin-right: 10px;
    color: grey;
    text-decoration: none;

    
}
.header-link1{
text-decoration: none;
color: gray;
}
.header-link1:hover{
    color: orange;
    transition: 0.5s;
}
.header-link2{
text-decoration: none;
color: gray;
}
.header-link2:hover{
    color: orange;
    transition: 0.5s;
}
.header-link3{
text-decoration: none;
color: gray;

}
.header-link3:hover{
    color: orange;
    transition: 0.5s;

}
.header-link4{
text-decoration: none;
color: gray;
}
.header-link4:hover{
    color: orange;
    transition: 0.5s;
}

.main{
    height: 80%;
    display: flex;
    width: 100%;
}
.dark-main{
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    background-color: black;
}
.dark-text{
    margin-left: 1vw;
}
.cloud-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
}
.deploy-text{
    color: white;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.get-button{
    color:white;
    background-color:orangered;
     width: 16vw;
     height: 5.5vw;
     border-radius: 5vw;
     border: none;
     font-weight: bold;
     font-size: 1.5vw;
     
}
.get-button:hover{
    cursor: pointer;
   }

   .dark-image{
    display: flex;
    width: 50%;
    justify-content:right;
    align-items: center;

   }
    
   .head-image{
    width: 38vw;
    max-width: 100%;
    height: auto;
   }
   
   .start{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vw;
   }
   .start-price{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 5, 58);
    font-weight:bolder;
    margin-bottom: 0.6vw;
   }
   .start-dummytext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    color: rgb(137, 137, 150);
   }
   .search-icon{
    width: 1.8vw;
    height: 1.8vw;
    margin-top: 0.2vw;
    filter: invert(100%); 
   }
   .search-bar{
    width: 46vw;
    display: flex;
    justify-content: flex-end;
    background-color:white;
    height: 4vw;
    box-shadow: 0.125vw 0.125vw 1vw 0vw;
    border-radius: 2vw ;
    
     
   }
   .search-domain{
    border: 0vw;
    width:30vw;
    font-size: 1.6vw;
    outline: none;
     
   }
   .search-icon-button{
    width: 29vh;
    border-radius: 7vh;
    background-color:orangered;
    font-size: 1.7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300;
    border: 0vw;
    color: white;
     
   }
   .domains{
    color:rgb(7, 27, 93);
    display: flex;
    flex-direction:row;
    gap: 7vh;
    font-size: 3vh;
    justify-content: center;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vh;
   }
   .com{
    color: white;
    background-color: rgb(0 217, 255);
    width:8vw;
    height: 2vw;
    border-radius: 20vh;
 justify-content: center;
 display: flex;
 align-items: center;
    
   }
   .entries-head{
    background-color: rgb(0, 217, 255);
    width: 55vh;
    height: 23vh;
    border-top-right-radius:2vh ;
    border-top-left-radius:2vh ;
    padding-top:4vh;
   }
   .entries-head-text-1{
    margin-left: 2vh;
    margin-top: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin-bottom: 1vh;
   }
   .entries-head-text-2{
    margin-left: 2vh;
    color: white;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 1.7-vh;
   margin-bottom: 0vh;

   

}

 .entries-head-text-3{
    margin-left: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin-top: 1.7vh;
 }
 .fourteen-dollars{
    font-size: 6.7vh;
    font-weight: 500;
 }
 .entries-discount{
margin-left: 3vh;
font-size:2.7vh;
background-color: rgb(0, 191, 225);
 padding-left: 2vh;
 padding-right: 2vh;
 border-radius: 2vh;
 font-weight: 600;
 padding-top: 0.8vh;
 padding-bottom: 0.8vh;
 }
 .entries-body{
    width: 55vh;
    
 }
 .entries-bodytext{
    margin-left: 2vh;
 }
 .checkmark{
    color: rgb(169, 211, 110);
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right:2vw ;
 }
 .entries-sub-bodytext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: rgb(7, 27, 97);
}
.buynow-button{
    width: 21vw;
    height: 4vw;
    border-radius: 4vw;
    background-color: white;
    border: 0.25vw solid rgb(2, 5, 58);
    color: rgb(7, 27, 97);
    font-weight: 800;
    margin-top: 1.4vw;
    transition: 0.4s;
}
.buynow-button:hover{
color: white;
background-color:rgb(2, 5, 58);
cursor:pointer;
}
.buynow-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Entry-1{
    box-shadow: 0.1vh 0vh 2vh 0vh ;
    border-top-right-radius:2vh ;
    border-top-left-radius:2vh ;
    padding-bottom: 3.7vh;
    transition: 0.5s;
}
.Entry-1:hover{
    transform: scale(1.1);
}
.entries-head-2{
    background-color: rgb(37, 132, 255);
    width: 55vh;
    height: 23vh;
    border-top-right-radius:2vh ;
    border-top-left-radius:2vh ;
    padding-top:4vh;
   }
.Entries{
    flex-direction:row;
    display: flex;
    gap: 15vh;
    margin-top: 3.6vw;
}
.Entry-2{
    box-shadow: 0.1vh 0vh 4vh 0vh ;
    border-top-right-radius:2vh ;
    border-top-left-radius:2vh ;
    padding-bottom: 3vh;
    transform: scale(1.1);
    transition: 0.5s;
}
.Entry-2:hover{
    transform: scale(1.2);
}
.entries-discount-2 {
    margin-left: 3vh;
    font-size:2.7vh;
    background-color: rgb(4, 85, 195);
     padding-left: 2vh;
     padding-right: 2vh;
     border-radius: 2vh;
     font-weight: 600;
     padding-top: 0.8vh;
     padding-bottom: 0.8vh;
     }
     .popular{
        width: 5vw;
        height: 8vw;
        display: flex;
     }
     .popular-span{
    left: 20vw;
    display: flex;
    position: relative;
    bottom: 9vw;
     }
     
     .hosting{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        margin-top: 15vh;
        gap: 0.4vh;
     }
     .Hosting-cloud{
        font-size: 3vw;
        margin: 0vw;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:600;
        color: rgb(7, 27, 97);
     }
     .Hosting-dummytext{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.8vh;
        font-weight: 530;
        color: rgb(140, 145, 164);
         
     }
     .feature{
        display: flex;
         flex-direction: column;
       width: 100%;
       gap: 14vh;
       justify-content: center;
     }
     .cloudservice-div{
        width:12vh;
         background-color: rgb(243, 240, 240);
         height: 12vh;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 100%;
         margin-bottom: 0vh;
     }

  .cloudservice-image{
        width: 8vh;
     }
     .easy-text{
        color:rgb(27, 7, 96);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8vw;
        font-weight: 550;
        margin-top: 0vh;
    
     }
     .easytext-and-images {
        display: flex;
        margin-top: 5vh;
        
     }
     .cloudtext-and-images{
        position: relative;
        left: 16%;
        
     }
.easy-dummytext{
color:rgb(145, 140, 164);
font-family: Arial, Helvetica, sans-serif;
font-size: 2.7vh;
width: 78vh;
align-items: center;
display: flex;
}
.dummytext-and-easygraph{
    display: flex;
    flex-direction: row;
} 
.learn-more{
    display:inline;
    flex-direction:row;
    text-decoration:none;
    display: flex;
    flex-direction: row;
    color: rgb(255, 25, 0);
    font-weight:bold; 
    position: relative;
right:82%;
    font-family: Arial, Helvetica, sans-serif;
    height: 4vh;
    
    
}
 .learn-arrow{
    width: 3vh;
    height: 3vh;
    transition: margin,20s;
    
 }
 .learn-arrow:hover{
    position: relative;
    left: 2vh;

 }
.learn-container{
    display: flex;
    position: relative;
    top: 70%;
    right: 81%;
    
}
.cloudtext-and-images-2{
    position: relative;
    left: 56.5%;
    margin-top: -1vh;
    
        
} 
.easytext-and-images-2{
    display: flex;
    margin-top: 5vh;
}
.learn-more-2{
    display:inline;
    flex-direction:row;
    text-decoration:none;
    display: flex;
    flex-direction: row;
    color: rgb(255, 25, 0);
    font-weight:700; 
    position: relative;
    top: 70%;
    right: 42.5%;    
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 1vh;  
    height: 4vh;
            
}

.cloudtext-and-images-3{
    position: relative;
    left: 19.4%;
    margin-top:-3vh;
    
}
.learn-more-3{
    display:inline;
    flex-direction:row;
    text-decoration:none;
    display: flex;
    flex-direction: row;
    color: rgb(255, 25, 0);
    font-weight:bold; 
    position: relative;
    right:82%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:3vh;
    
    
}
.cloudtext-and-images-4{
    position: relative;
    left: 54.5%;
    margin-top: -1vh;
    
} 
.Control-Panel{
    background-color: black;
    height:106vh;
    margin-top: 7vh;
    padding-top: 2vh;
    width: 100%;
    padding-bottom:7vh ;
    
}
.User-friendly{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 9vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
         
}
.ipad{
display: flex;
flex-direction: row;
}
.ipad-img{
    width:50vw;
    height: auto;
}
.controltext{
    display: flex;
    flex-direction:row;

}
.controlimages{
    display:flex;
    flex-direction:column;
    gap:14vh;
    height:auto;
    position: relative;
    left: 5vh;
    top: 5vh;
}
.controlimages-and-text{
    display: flex;
    flex-direction:row;
    gap: 15vh  ;
}
.photo-icon{
    width:10vh;
    height:10vh;
}
  
.start-text{
    color:white;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 1vh;
}
.controlsubtext{
    display:flex;
    flex-direction:column;
}
 
.start-dummytext-2{
    color:rgb(145, 140, 164);
    width: 63vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    line-height: 3.5vh;
    margin-top: 1vh;
}
.Customers{
    font-size: 6.6vh;
    color: rgb(27, 7, 96);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;

}
 .Testimonial-intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    

 }
 
.Customers-Dummytext{
    font-size: 2.2vh;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(145, 140, 164);
    margin-top:0vh;
    display: flex;
    justify-content: center;
    margin-top:3vh ;
}
.Testimonial{
    width: 60vw;
    height: 23vw;
   margin-top: 4vh;
   box-shadow: 0.1vh 0vh 4vh 0vh;
   border-radius: 3vh;
   padding-top: 2.7vw;
   padding-left:1.5vw; 
   padding-bottom:2.7vw;
   padding-right:1.5vw;
   display: flex;
   flex-direction: row;
 

}
.Testimonial-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-marks{
    height:auto;
    width: 4vw;
    padding: 1vh;
    border-radius: 70%;
}
 .quote-container{
    width: 12vh;
    background-color:red;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 0vh;
   position: relative;
   right: 6vh;
     
 }
 .Jhon-smith{
    height:60.5vh;
    width:60.5vh;
 }
 .testimonial-image{
    display:flex;
    align-items: center;
 }
 .testimonial-text{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height:100%;
    flex-direction: column;
 }
 .testimonial-dummytext{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 3.4vh;
 line-height: 5vh;
 font-style: italic;
 color: rgb(92,85,119);
margin-bottom: 5vh;
position: relative;    
top: 9%; 
}
.Jhon-container{
    display: flex;
    flex-direction: row;
    position: relative;
    right:35%;
    top: -5%;
}
.line{
    width: 10vh;
    height: 0.5vh;
    background-color: rgb(27,125,255);
    position:relative;
    margin-right: 1.4vh;
    top:50%;
 }
 
.name{
font-family: Arial, Helvetica, sans-serif;
font-size: 4vh;
top: -5.4%;
color:rgb(7, 27, 96);
position: relative;
}
 .Company{
font-family:Arial, Helvetica, sans-serif;
color:rgb(145, 140, 164);
font-size: 3vh;
position: relative;
top: -18%;
right: 5%;
 }
 .footer{
    width: 100%;
    height:50vh;
    background-color: rgb(49,50,52);
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  
 }
 .footer-container{
    display: flex;
  flex-direction: row;
  width: 100%;
  align-items:end;
  justify-content: center;
  gap: 20vh;
  height: 100%;
 }
.Logo{
    color:white;
    font-size: 5.4vh;
    margin-bottom:0vh;
}
.copyright{
    color:rgb(123, 123, 139);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: 500;
    margin-top: 1vh;
}
.Logo-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:28vh;
}
.victor{
    display: flex;
    justify-content: center;
}
.footer-categories{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 3vh;
font-weight: 500;
}
.products{
display: flex;
flex-direction:column;
  height: 29.345vh;
}
.category-feature{
    text-decoration: none;
     color:rgb(123, 123, 139);
     font-family: Arial, Helvetica, sans-serif;

}
.category-feature:hover{
    color:white;
    transition: color 25ms;
}
.footer-links{
display: flex;
flex-direction:column;
gap:2vh;
}
.company{
    display: flex;
    flex-direction:column;
      height: 29.345vh;  
}
.Support{
    display: flex;
    flex-direction:column;
      height: 29.345vh; 
}
.Domains{
    display: flex;
    flex-direction:column;
      height: 29.345vh; 
}
 .ready{
    background-color:rgb(37, 137, 255);
    width:75%;
    height: 30vh;
    position: relative;
padding: 0.7vh;
    border-radius: 1.2vh;
    top: 15vh;
    

 }
 .ready-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50vh;
    
 }
 .ready-head{
    color: white;
    font-size:5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 1.5vh;
 }
 .ready-dummytext{
    font-size: 2.8vh;
    width: 75%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.5vh;
 }
 .ready-body{
    display: flex;
    flex-direction:row;
 }
 .ready-button{
    color:white;
    background-color:rgb(0, 217, 255);
     width: 15vw;
     height: 5vw;
     border-radius: 5vw;
     border: none;
     font-size: 1.5vw;
     font-weight: bold;
     
 }
 .ready-button:hover{
    cursor: pointer;
    transition: cursor 20ms;
 }
 
